
.clickspot{
	text-decoration:underline;
	color:blue;
	cursor:pointer
}
.status{
	background-color:#42433c;
	color:white;
}
.error{
	color:Red;
	background-color:Yellow
}

.menuitem {
	/**text-decoration:underline;**/
	color:Green;
	cursor:hand
}
.menuitem:hover{
	/**text-decoration:underline;**/
	cursor:hand;
	font-weight:bold;
	color: Green;
	background-color:#64bc68
}

#pageheader
{
    height: 1in;
    background-color: #066d5d;
    font-size: large;
    text-align: center;
	color: White;
}

#mainnav{
	width:2in;
	vertical-align:top
}


#content {
	width:10in;
	vertical-align:top;
	
}

.reportTable 
{
    border:1px;
	border-color:silver;
    border-collapse:collapse;
}
.reportTable tr.button td:hover{
 background-color:Green;
 color:White;
}
.reportTable .header
{
    background-color: #066d5d;
	/**text-transform: uppercase;**/
    color: White;
	height: 50px
}

.reportTable .row1
{
    background-color: #FFE0B3;
}

.reportTable .row2
{
    background-color:White;
}

.reportTable tr:hover
{
    background-color:#01b297
}

.tableForm .label
{
    background-color: #CC6600;
    text-transform:capitalize;
    color: White;
    text-align:right;
}

.tableForm .field
{
    background-color: #FFAE35;
}
.popupMenu
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}

.popupMenu div
{
    color: #FFFFFF;
    text-decoration: underline;
}

.popupMenu div:hover
{
    color: #FFFFFF;
    text-decoration: underline;
    background-color: #CC6600;
}

.popupForm
{
    background-color: #DC7518;
    position: absolute;
    display:none;
    width: auto;
}
#divPageMenu
{
	padding-bottom:1%;
	background-color:#d5d9d8;
}
#divContent
{
background-color:#e5f1ef;
}